:root {
    --white: #ffffff;
    --primary-bg-color: #6943ff;
    --secondary-bg-color: #f4f4f4;
    --tercery-bg-color: var(--white);
    --primary-font-color: #5a537b;
    --secondary-font-color: #353535;
    --tercery-font-color: var(--white);
    --btn-font-color: #3d3d3d;
    --primary-border-color: #b295ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    width: 100%;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    min-height: 100%;
    max-width: 800px;
    width: 100%;
}

.input-section {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    height: 300px;
}

.header {
    font-size: 28px;
    font-weight: bold;
    color: var(--tercery-font-color);
    text-align: center;
    line-height: 38px;
    letter-spacing: -3%;
}

.user-input {
    height: 83px;
    width: 117px;
    background-color: transparent;
    border: 2px solid var(--primary-border-color);
    border-radius: 5px;
    font-size: 58px;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--tercery-font-color);
    text-align: center;
}

#convert-btn {
    min-width: 117px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: var(--tercery-bg-color);
    color: var(--btn-font-color);
    font-size: 16px;
    cursor: pointer;
}

.results-section {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--secondary-bg-color);
    height: calc(100% - 300px);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
    background-color: var(--tercery-bg-color);
}

.result-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--primary-font-color);
}

.result-details {
    line-height: 5px;
    color: var(--secondary-font-color);
}
